@page "/Companies"

<PageTitle>Companies</PageTitle>

<div class="companies">
    <div class="container">
        <div class="companies__wrapper">
            <div class="companies__title">
                <h1 style="color: #1667BA;">Companies</h1>
            </div>
            <div class="search__companies">
                <div class="companies_search">
                    <input type="text" placeholder="Search Companies/Job" name="search">
                </div>
                <div class="findjob_btn">
                    <button class="button">Find Job</button>
                </div>
            </div>
            <div class="companies__title">
                <h2 style="color: #1667BA;">289 Companies Hiring</h2>
            </div>
            <div class="nameofcompany">
                <div class="grid-container">
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>  
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>  
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>
                    <div class="grid-item">
                        <img src="Images/Companyname_logo.png" alt="">
                        <h2 style="color: #1667BA;">Name of Company</h2>
                        <h3>IT Industry</h3>
                    </div>  
                </div>
                
            </div>
                
        </div>
    </div>
</div>

@code {
    public string Search_Company{ get; set;}
}