@page "/Dashboard"

<div class="dashboard">
    <div class="container">
        <div class="dash-wrapper">
            <div class="dash-title">
                <h1>Dashboard</h1>
            </div>
            <div class="dash-cont">
                <div class="left">
                    <div class="files">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </div>
                    <div class="text">
                        <h2>Apply/Interview</h2>
                        <p>100</p>
                    </div>
                </div>
                <div class="right">
                    <div class="files">
                        <i class="fa-solid fa-floppy-disk"></i>
                    </div>
                    <div class="text">
                        <h2>Apply/Interview</h2>
                        <p>100</p>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="review">
                    <h1>Most Recent View</h1>
                    <div class="boxcompany">
                        <div class="company">
                        <i class="fa-regular fa-building"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>1 day</p>
                        </div>
                        </div>
                        <div class="company">
                        <i class="fa-regular fa-building"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>1 day</p>
                        </div>
                        </div>
                        <div class="company">
                        <i class="fa-regular fa-building"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>1 day</p>
                        </div>
                        </div>
                        <div class="company">
                        <i class="fa-regular fa-building"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>1 day</p>
                        </div>
                        </div>
                        <div class="company">
                        <i class="fa-regular fa-building"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>1 day</p>
                        </div>
                        </div>
                        <div class="company">
                        <i class="fa-regular fa-building"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>1 day</p>
                        </div>
                        </div>
                    </div>
                   
                </div>
                <div class="reco">
                    <div class="reco-title">
                        <h1>Recommended Jobs</h1>
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="hiring">
                <div class="hiring-title">
                    <h1>Urgent Hiring Company</h1>
                </div>
                <div class="slot">
                    <div class="company">
                      <i class="fa-solid fa-briefcase"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>100 Vacancy</p>
                        </div>
                    </div>
                    <div class="company">
                      <i class="fa-solid fa-briefcase"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>100 Vacancy</p>
                        </div>
                    </div>
                    <div class="company">
                      <i class="fa-solid fa-briefcase"></i>
                        <div class="company-details">
                            <h2>Company Name</h2>
                            <p>100 Vacancy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

