@page "/Email"

<div class="email-title">
    <div class="firstcont">
        <h1>Email</h1>
         <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
    <div class="compose">
        <div class="comp-title">
          <i class="fa-regular fa-pen-to-square"></i>
          <h1>Compose</h1>
        </div>
    </div>
    
    <div class="inbox">
        <div class="inbox-header">
            <div class="textbox">
                <i class="fa-solid fa-download"></i>
                <h3>Inbox</h3>
            </div>
            <div class="number">
                <p>10,009</p>
            </div>
        </div>
        <div class="subheader">
            <div class="sent">
                <i class="fa-regular fa-paper-plane"></i>
                <h3>Sent</h3>
            </div>
            <div class="imp">
                <i class="fa-regular fa-bookmark"></i>
                <h3>Important</h3>
            </div>
            <div class="mail"
                <i class="fa-solid fa-envelopes-bulk"></i>
                <h3> All Mail</h3>
            </div>
            <div class="spam">
                <i class="fa-solid fa-circle-exclamation"></i>
                <h3>Spam</h3>
            </div>
            <div class="bin">
                <i class="fa-regular fa-trash-can"></i>
                <h3>Bin</h3>
            </div>
        </div>

        <div class="message-content">
            <div class="layer">
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div> <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
                <div class="msg-content">
                    <label class="container">
                        <input type="checkbox" id="checkbox" name="checkbox" class="check">
                    </label>
                    <div class="star">
                        <input type="checkbox" id="star-checkbox">
                        <label for="star-checkbox" class="star-label"><i class="fas fa-star"></i></label>
                        <i class="baliktad fa-regular fa-bookmark" ></i>
                    </div>
                    <div class="google">
                        <p>Google</p>
                    </div>
                    <div class="msg-inbox">
                        <p>Inbox</p>
                    </div>
                    <div class="alert">
                        <p>Security Alert!  LSPU_EIS was grant  access to your Google account</p>
                    </div>
                </div>
           

            </div>
        </div>
    </div>
</div>