@page "/NoApplied"

<div class="search-container1">
<input type="text" class="search-input1" placeholder="Search...">
<button class="search-button1"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>

<MudText Typo="Typo.h6" style= "color:blue; font-size:3rem"> No. Applied</MudText>

<div class="kaliwa">
<div class="files">
<i class="fa-solid fa-upload" style="font-size:2rem"></i>
</div>
<div class="text">
<h2>Total of Users Applied: 1300</h2>
</div>
</div>

<!-- left -->
<MudPaper Height="1000px" Width="100%" style="background-color:#D9D9D9; background-color:#6F91B3">
<MudContainer Fixed="true">
<div class="d-flex" style="gap:10rem; padding-top:6rem">
<MudPaper Elevation="30" Height="800px" Width="45%" Square="true" style="background-color:#D9D9D9;">
<MudContainer Fixed="true">
<MudPaper Height="80px" Width="60%" Square="true" Class="mt-5" style="font-size:2rem; border-radius:.5rem; padding-top:1rem; background-color:#1667BA; color:white; padding-left:2.3rem; ">
 Web Designer
</MudPaper>
<div style="font-size:30px"> Job Date Created:
</div>
</MudContainer>

<!-- white -->
<MudPaper Height="450px" Width="100%" style="background-color:white; overflow: auto; font-size:2rem; padding:1rem "> Job Description:
<div class="text" style="font-size:35px">
<h6 style="padding-bottom:4rem"> This is Arjay Federio from Company Name, we just wanted......... </h6>
<h6 style="padding-bottom:4rem"> Salary range: 10,000 - 15,000 a month  </h6>
<h6 style="padding-bottom:4rem"> Job Type: Permanent  </h6>
<h6 style="padding-bottom:4rem"> Shift and schedule: 8 hours shift  </h6>
</div>
</MudPaper>
<MudText Typo="Typo.h6" class= "pa-3 "> No. of Users Applied: 650 
</MudText>
</MudPaper>

<!-- right -->
<MudPaper Elevation="30" Height="800px" Width="45%" Square="true" style="background-color:#D9D9D9;">
<MudContainer Fixed="true">
<MudPaper Height="80px" Width="60%" Square="true" Class="mt-5" style="font-size:2rem; border-radius:.5rem; padding-top:1rem; background-color:#1667BA; color:white; padding-left:2.3rem; ">
 Web Designer
</MudPaper>
<div style="font-size:30px"> Job Date Created:
</div>
</MudContainer>

<!-- white -->
<MudPaper Height="450px" Width="100%" style="background-color:white; overflow: auto; font-size:2rem; padding:1rem"> Job Description:
<div class="text" style="font-size:35px">
<h6 style="padding-bottom:4rem"> This is Arjay Federio from Company Name, we just wanted......... </h6> 
<h6 style="padding-bottom:4rem"> Salary range: 10,000 - 15,000 a month  </h6>
<h6 style="padding-bottom:4rem"> Job Type: Permanent  </h6>
<h6 style="padding-bottom:4rem"> Shift and schedule: 8 hours shift  </h6>
</div>
</MudPaper>
<MudText Typo="Typo.h6" class= "pa-3 "> No. of Users Applied: 650 
</MudText>


</MudPaper>
</div>
</MudContainer>
</MudPaper>
