@page "/Searchjob"

<div class="searchjob">
    <div class="container">
        <div class="searchjob__wrapper">
            <div class="searchjob-title">
                <h1>Search Job</h1>
            </div>
            <div class="searchbar" style="width:90%; margin:0 auto; padding-top:1rem;">
                <div style="font-size: 4rem;">
                <MudTextField  @bind-Value="Search" Label="Job Title or Company" Variant="Variant.Filled"/>
            </div>

            <div class="d-flex mt-3">
            <MudButton Variant="Variant.Filled" Size="Size.Large"  Color="Color.Tertiary" style="margin: 0 auto; border-radius:2rem">Find Job</MudButton>
            </div>

            @code {
                public string Search { get; set;}
            }
            </div>
        </div>

        <div class="jobresults">
            <h1>Showing 100 Jobs Results</h1>
            <div class="resultcards">
                <div class="jobcard">
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                    <div class="recomendedjob">
                        <div class="recoheader">
                           <div class="reco-start">
                                <h3>Company name</h3>
                                <h1>Web Developer</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente corporis assumenda numquam nesciunt illo alias rem amet ullam deserunt dolores.</p>
                           </div> 
                           <div class="icon">
                            <i class="fa-solid fa-building-un"></i>
                           </div>
                        </div>
                        <div class="job-details">
                            <h3>Full time</h3>
                            <p>Los Angeles</p>
                           </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

