@page "/Admin"

<PageTitle>Admin</PageTitle>
@* 
<MudContainer style="position: relative">

    <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary" style="display: flex;">
        <MudTabPanel Text="One"/>
        <MudTabPanel Text="Two"/>
        <MudTabPanel Text="Three"/>
    </MudTabs>

</MudContainer> *@

@* <MudTabs Outlined="true" Position="@Position" Rounded="true"
    ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6" id="dashtab">
        <MudTabPanel Text="Dashboard" style="relative">
        <div class="titledash">
            <p>Dashboard</p>
            <div class="dashcontent">
                <div class="apply">
                    <p><i class="fa-solid fa-person-walking-luggage"></i>Apply/Interview</p>
                    <p id="num">100+</p>
                </div>
                <div class="profile">
                    <p><i class="fa-solid fa-person-walking-luggage"></i>Apply/Interview</p>
                    <p id="num">100+</p>
                </div>
        </div>
        </div>
        
    </MudTabPanel>
    <MudTabPanel Text="Search  Job">
        <MudText>Content Two</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Application">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Profile">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Companies">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Email">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Inbox">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Recent View">
        <MudText>Content Three</MudText>
    </MudTabPanel>
    <MudTabPanel Text="Reports">
             <MudText>Content Three</MudText>
             <MudExpansionPanels>
        <MudExpansionPanel Text="Panel One" MaxHeight="150">
            Panel One Content
        </MudExpansionPanel>    
    </MudExpansionPanels>
    </MudTabPanel>
    
</MudTabs>

@code {
    public Position Position { get; set; } = Position.Left;

    private void OnSelectedValue(Position value)
    {
        switch (value)
        {
            case Position.Left:
                Position = Position.Left;
                break;
        
        }
    }
} 
 *@

 <MudPaper Width="400px" Class="py-3" Elevation="5">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">My Application</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Secondary Text</MudText>
        <MudDivider Class="my-2"/>
        <MudNavLink Href="/dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/servers">Servers</MudNavLink>
        <MudNavLink Href="/billing" Disabled="true">Billing</MudNavLink>
        <MudNavGroup Title="Settings" Expanded="true">
            <MudNavLink Href="/users">Users</MudNavLink>
            <MudNavLink Href="/security">Security</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/about">About</MudNavLink>
    </MudNavMenu>
</MudPaper>
