@page "/Login"
@using System.ComponentModel.DataAnnotations


<div class="login">
    <div class="container">
        <div class="login__wrapper">
            <div class="loginflex">
            <MudPaper Class="logbox" Height="450px" Width="550px" >
                <div class="logo"> 
                    <img src="Images/LSPU.png" alt="" style="padding-top:2rem;">
                </div>
                <div class=" mx-10 my-5  d-flex flex-column gap-4">
                <MudTextField  @bind-Value="Username" Label="Username" Variant="Variant.Text" style="color:white;"></MudTextField>
                <MudTextField  @bind-Value="Password" Label="Password" Variant="Variant.Text" style=""  InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password" />
                <MudButton Variant="Variant.Text">Forgot Password?</MudButton>
                </div>
                <div class="d-flex align-center gap-10 justify-center ">
                    <MudButton Class=" " Variant="Variant.Filled" Color="Color.Primary" 
                     Style="@($" background:{Colors.Green.Default};")">SIGN UP</MudButton>
                    <MudButton Class=" justify-end " Variant="Variant.Filled" Color="Color.Primary"
                    Style="@($" background:{Colors.Blue.Lighten1};")">LOGIN</MudButton>
                </div>
        </MudPaper> 
                <div class="rightcont"> 
                    <h3>Empowering Alumni Success: Your Path to Professional Excellence Through Our Employment System</h3>
                    <p>Our dedicated alumni job portal provides a seamless platform to help you quickly connect with job opportunities and effortlessly navigate your way to a successful career.</p>
                </div>
            
        
       
        </div>
        </div>
    </div>
</div>

@code {
    public string Username { get; set; }
    public string Password { get; set; }

     bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}