@page "/Signup1"
    <div class="d-flex mud-theme-primary">
    <MudText Class="pt-10" Typo="Typo.h3" Align="Align.Center">WELCOME MGA WALANG SAHOD</MudText>
    <MudImage Fluid="true" Src="Images/LSPU.png" Alt="Swedish Farm House" Class="rounded-lg"/>
    </div>
    <div id="another_unique_identifier" class="ma-0" style="height:300px;overflow: auto;">
    <MudPaper Elevation="0" Height="auto" Class="d-flex flex-column justify-space-between py-6 mud-theme-primary">
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudText Typo="Typo.h3" Align="Align.Center">Lorem dito maramiLorem dito marami</MudText>
        <MudScrollToTop TopOffset="100" Selector="#another_unique_identifier" Style="z-index:2001;">
            <div class="mud-theme-secondary px-3 py-6 mud-elevation-16 rounded-xl fixed" style="bottom:20px;left:20px;">Scroll to top custom button</div>
        </MudScrollToTop>
    </MudPaper>
</div>
